.App {
  font-size: 18px;
  display: block;
  text-align: center;
}

.list-item {
  background-color: #fdfdfd;
  z-index: 4;
}
.item-rank, .item-name, .terminator {
  z-index: 0;
  pointer-events: none;
}

.list-item, .list-header, .create-item-form {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(1, 60px 140px 0px 50px  50px );
  margin-bottom: 10px;
}
.create-item-form {
  width:min-content;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 145px 100px 60px);
}
.list-header {
  padding: 10px;
  width:min-content;
  font-weight: 700;
}

.list {
  width:min-content;
  display: grid;
  background-color: #f0f0f0;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 16px;
  padding: 10px 10px 1px 10px;
}

input, button, .list-item {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 8px;
  padding: 10px;

}
.terminator {
  width: 0px;
  border: 1px solid rgb(173, 173, 173);
}


.editform-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);

}
.edit-name, .edit-rank{
  margin: 10px;
}
.editform-titles {
  font-weight: 700;
  margin-left: 20px;
}